<body class="skin-black">

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <h1>Welcome back Pandit</h1>

            <section class="content">
               <!--  <div class="row">
                    <div class="col-md-12">
                     
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Current page</li>
                        </ul>
                        
                    </div>
                </div> -->
                <div class="row">
                     <div class="col-md-3">
                        <div class="stat">
                            <div class="stat-icon" style="color:#fa8564;">
                                <i class="fa fa-plus fa-3x stat-elem" aria-hidden="true" ui-sref="admin.addLocation" ng-click=""></i>
                            </div>
                            <h5 class="stat-info" ui-sref="admin.addLocation" ng-click="">Add Location</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat">
                            <div class="stat-icon" style="color:#45cf95;">
                                <i class="fa fa-user fa-3x stat-elem" ui-sref="admin.allUsers" ng-click=""></i>
                            </div>
                            <h5 class="stat-info" ui-sref="admin.allUsers" ng-click="">All Users</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat">
                            <div class="stat-icon" style="color:#AC75F0">
                                <i class="fa fa-map-marker fa-3x stat-elem" ui-sref="admin.allLocation" ng-click=""></i>
                            </div>
                            <h5 class="stat-info" ui-sref="admin.allLocation" ng-click="">View All Locations</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stat">
                            <div class="stat-icon" style="color:#30383D">
                                <i class="fa fa-sign-out fa-3x stat-elem" ng-click="ctrl.logout()"></i>
                            </div>
                            <h5 class="stat-info" ng-click="ctrl.logout()">Log Out</h5>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row center">
                            <div class="col-md-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        All Users
                                    </header>
                                    <div class="panel-body">
                                        <h5>Total amount of users: {{ctrl.users.length}}</h5>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="row center">
                            <div class="col-md-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        All Locations
                                    </header>
                                    <div class="panel-body">
                                        <h5>Total amount of locations: {{ctrl.locations.length}}</h5>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Director App -->
        <script src="js/Director/app.js" type="text/javasc