<div class="admin">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<h3>Admin Panel</h3>
				<ul>
					<li><a ui-sref="admin.dash">Dashboard</a></li>
					<li><a ui-sref="admin.addLocation">Add Location</a></li>
					<li><a ui-sref="admin.allUsers">View all users</li>
					<li><a ui-sref="admin.allLocation">View all locations</li>
					<li><a ng-click="ctrl.logout()">Log Out</a></li>
				</ul>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<div ui-view=""></div>
			</div>
		</div>
	</div>
</div>














