<h2 class="center">
	All Locations
</h2>
<hr>


<table class="table table-hover">
    <thead id="center">
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Type</th>
        <th>Current Capacity</th>
        <th>Maximum Capacity</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="locations in ctrl.locations" ng-click="ctrl.getLocation(locations.id)">
    		<td>{{locations.name}}</td>
    		<td>{{locations.latitude}}</td>
    		<td>{{locations.longitude}}</td>
    		<td>{{locations.type}}</td>
            <td>{{locations.currCapacity}}</td>
    		<td>{{locations.maxCapacity}}</td>
    		<td><i class="fa fa-pencil" aria-hidden="true" ng-click="ctrl.editLocation(locations); ctrl.getLocation(locations.id)"></i></td>
    		<td><i class="fa fa-trash" aria-hidden="true" ng-click="ctrl.deleteLocation(locations.id)"></i></td>
    	</tr>
    </tbody>
</table>

<hr>


