<h2 class="center">
	All Users
</h2>
<hr>
<div class="overflow">
    <table class="table table-hover ">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Clear Playing Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="users in ctrl.users">
                <td class="wrap">{{users.firstName}}</td>
                <td class="wrap">{{users.lastName}}</td>
                <td class="wrap">{{users.email}}</td>
                <td class="wrap">{{users.username}}</td>
                <td class="wrap"><i class="fa fa-times" aria-hidden="true" ng-click="ctrl.clearLocation(users.id)"></i></td>
                <td class="wrap"><i class="fa fa-trash" aria-hidden="true" ng-click="ctrl.deleteUser(users.id)"></i></td>
            </tr>
        </tbody>
    </table>
      
</div>
