<div class="admin">	
	<div class="find-friends">
		<div>
			<h1>Find Friends</h1>
			<div class="gap-bottom">
				<button class="btn transparent" ui-sref="home.map">
					<i class="material-icons">arrow_back</i>
				</button>
			</div>
			<input ng-model="ctrl.search" type="text" class="form-control gap-bottom" id="search" placeholder="Search Friends">
			<hr class="style-two">
		</div>

		<div ng-repeat="users in ctrl.allUsers | filter:{firstName:ctrl.search, lastName:ctrl.search, username:ctrl.search}">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-6">
					<h4>{{users.firstName}} {{users.lastName}}</h4>
					<h6>{{users.username}}</h6>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-6">
					<button class="btn btn-primary right" ng-click="ctrl.addFriend(users,users.id)">
						Add Friend<i class="material-icons">person_add</i>
					</button>
				</div>	
			</div>
			<hr class="style-two">
		</div>
	</div>
</div>
`