<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars" style="background-color:transparent"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>KickApp</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Services</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>


<div>
  <section class="content bgcolor-4 auth">
    <h1 class="appName center">
      KickApp
      <img src="Asset_1.png" class="myLogo-friends">
    </h1>
    <form method="post" class="stacked-form center" ng-submit="ctrl.authenticate()">

      <span class="input input--ruri">
        <input class="input__field input__field--ruri" type="email" maxlength="40" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="EmailAddress" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email"  id="input-28" />
        <label class="input__label input__label--ruri" for="input-28">
          <span class="input__label-content input__label-content--ruri" style="color:white">Email</span>
        </label>
      </span>
      <span class="input input--ruri">
        <input class="input__field input__field--ruri" type="password" name="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password"  id="input-29" />
        <label class="input__label input__label--ruri" for="input-29">
          <span class="input__label-content input__label-content--ruri" style="color:white">Password</span>
        </label>
      </span>
      <div class="center">
        <span class="input input--ruri">
          <input class="input__field input__field--ruri btn btn-primary" type="submit" value="Log In" id="input-31" />
        </span>
      </div>
    </form>

    <div class="center">
      <span class="input input--ruri">
        <p id="register">No account? No problem, create one here</p>
        <input class="input__field input__field--ruri btn btn-primary" ui-sref="register" value="Register" id="input-31" />
      </span>
    </div>
  </section>
</div>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Fancy playing a pickup game but struggling to find a field?</h2>
          <p class="lead">KickApp allows you to find nearby football fields to play around your neighbourhood. You can see how many people are playing, reviews for each field and even add friends if you meet them and they are users of the app. Each location will indicate who is playing on the day and the type of field it is.</p>
      </div>
    </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
          <h2>Our Services</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-futbol-o fa-stack-1x text-primary"></i>
                </span>
                    <h4>
                        <strong>Pick Up Game</strong>
                    </h4>
                    <p>Find a pick up game nearby and see if your friends are there.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                </span>
                    <h4>
                        <strong>Locations</strong>
                    </h4>
                    <p>Easy to locate with markers indicating each field and their respective information.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plus fa-stack-1x text-primary"></i>
                </span>
                    <h4>
                        <strong>Create your network</strong>
                    </h4>
                    <p>Met someone new while playing? Add them as a friend on the app and grow your network.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                </span>
                    <h4>
                        <strong>Create events</strong>
                    </h4>
                    <p>Invite your friends to play and create a game.</p>
                </div>
            </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Footer -->
<footer>
    <div class="container ">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>KickApp</strong>
                </h4>
                <p>507-761 Bay St 
                    <br>M5G 2R2, Toronto, ON, Canada</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (647) 705 9548</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:pandit.dres@gmail.com">pandit.dres@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/panditdres"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://ca.linkedin.com/in/panditadhilagadres
          "><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>

                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; KickApp 2016</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>


