
<div>
  <section class="content bgcolor-4 auth">
    <h1 class="appName center">
      KickApp
      <img src="Asset_1.png" class="myLogo-friends">
    </h1>
    <form method="post" class="stacked-form center" ng-submit="ctrl.authenticate()">

      <span class="input input--ruri">
        <input class="input__field input__field--ruri" type="email" maxlength="40" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="EmailAddress" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email"  id="input-28" />
        <label class="input__label input__label--ruri" for="input-28">
          <span class="input__label-content input__label-content--ruri" style="color:white">Email</span>
        </label>
      </span>
      <span class="input input--ruri">
        <input class="input__field input__field--ruri" type="password" name="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password"  id="input-29" />
        <label class="input__label input__label--ruri" for="input-29">
          <span class="input__label-content input__label-content--ruri" style="color:white">Password</span>
        </label>
      </span>
      <div class="center">
        <span class="input input--ruri">
          <input class="input__field input__field--ruri btn btn-primary" type="submit" value="Log In" id="input-31" />
        </span>
      </div>
    </form>

    <div class="center">
      <span class="input input--ruri">
        <p id="register">No account? No problem, create one here</p>
        <input class="input__field input__field--ruri btn btn-primary" ui-sref="register" value="Register" id="input-31" />
      </span>
    </div>
  </section>
</div>


