<div>
	<div class="map" >

	    <script id="searchbox.tpl.html" type="text/ng-template">
	  		<input type="text" placeholder="Search Cities" class="google-search">
		</script>

		<ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'>

		    <ui-gmap-search-box 
				template="ctrl.map.searchbox.template" 
				events="ctrl.map.searchbox.events"
				show="ctrl.map.searchbox.window.show">
			</ui-gmap-search-box>
			
			<ui-gmap-marker 
				models="ctrl.map.marker"
				coords="ctrl.map.marker.coords" 
				options="ctrl.map.marker.options"  
				idkey="ctrl.map.marker.id">
			</ui-gmap-marker>

			<ui-gmap-markers  
		        models="ctrl.map.markers" 
		        coords="'self'"  
		        events="ctrl.map.markersEvents"
		        options="ctrl.map.marker.options">
	      	</ui-gmap-markers>

		</ui-gmap-google-map>

	</div>


	<div class="absolute" id="step2">
	  <div ui-view=""></div>
	</div>
</div>