<!-- NAV BAR -->
<div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
     ng-intro-autostart="false">

<nav class="navbar navbar-default" id="step1" style="border:none">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #262526; border-radius: 5px 5px 0 0; border-bottom: 1px solid white">
      <ul class="nav navbar-nav">
        <li><a class="no-pad" ng-click="ctrl.defaultView()" style="color: white;">Home</a></li>
        <li><a class="no-pad" ui-sref="friends" style="color: white;">Find Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropbtn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">{{ctrl.userData.firstName}} <span class="caret"></span></a>
          <ul class="dropdown-content">
            <li><a ng-click="ctrl.settings()">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="login" ng-click="ctrl.interact()">{{ctrl.checkMsg}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/ng-template" id="myModalContent.html" ng-repeat="locations in ctrl.locations">
  <div class="location-info" ng-show="ctrl.locationInfo">
    <div class="modal-header">
        <h3 class="modal-title">Name: {{ctrl.locationName}}</h3>
        <button class="btn btn-primary" type="button" ng-click="ctrl.showInvite()">Invite Friends</button>
    </div>
    <div class="modal-body">
        <h4>Address: {{ctrl.locationAddress}}</h4>
        <h5>Type of field: {{ctrl.locationType}}</h5>
        <h5>Number of players: {{ctrl.locationPlayers.length}}</h5>
        <h5>Players going today: </h5>
        <h5 ng-repeat="players in ctrl.locationPlayers">{{players}}</h5>
    </div>
    <div class="modal-footer">

       <!--  <div uib-timepicker ng-model="ctrl.mytime" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></div> -->

        <button class="btn btn-primary" type="button" ng-click="ctrl.incrementCounter(ctrl.locationId,ctrl.locationCounter); ctrl.addPlayer(ctrl.locationId,ctrl.user); ctrl.addPlayingLocation(ctrl.user.id,ctrl.locationId)" ng-disabled="ctrl.goBtn">Go</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel(ctrl.locationId,ctrl.locationCounter); ctrl.removePlayer(ctrl.locationId,ctrl.user); ctrl.removePlayingLocation(ctrl.user.id,ctrl.locationId)" ng-disabled="ctrl.cancelBtn">Cancel</button>
    </div>
  </div>

  <div class="invite-info" ng-show="ctrl.inviteInfo">
    <div class="modal-header">
        <h3 class="modal-title">Send Invitation</h3>
    </div>
    <div class="modal-body">
        
          <div class="form-group">
              <label for="Date">Date</label>
              <input type="date" name="eventDate" class="form-control" ng-model="ctrl.eventDate">
          </div>
          <div class="form-group">
            <label for="Friends">Include your friends</label>
            <div>
              <button class="btn btn-primary gap" ng-repeat="friends in ctrl.friendData" ng-click="ctrl.invite(friends.id)" ng-class="{'btn-danger': ctrl.invitation.includes(friends.id)}">
                {{friends.firstName}} <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>     
          </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.sendInvite(ctrl.locationId,ctrl.user)" ng-disabled="">Send</button>
    </div>
  </div>
</script>

<!-- NEW SECTION -->
<!-- SIDE FRIENDS BUTTON -->
<button class="btn btn-primary friend-button" ng-click="ctrl.showSide()" id="step4">
  <i class="fa fa-bars" aria-hidden="true"></i>
</button>
<div class="notification center" ng-show="ctrl.notificationLogo">
  <p class="notification">{{ctrl.notifications}}<p>
</div>


<div class="friends move" ng-show="ctrl.show" ng-class="{'move': ctrl.show}">
  <button class="btn btn-primary friend-button" ng-click="ctrl.hideSide()"">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div>
    <h1 class="center" style="color:white">Showing all {{ctrl.status}}</h1>
    <hr>
    <nav class="navbar navbar-default transparent">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="no-pad" style="color:white; font-size:16px" ng-click="ctrl.friendsView()">All friends</a></li>
            <li><a class="no-pad" style="color:white; font-size:16px" ng-click="ctrl.notificationsView()">Notifications</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>

    <div ng-show="ctrl.allFriends">
      <input ng-model="ctrl.search" type="text" class="form-control" id="search" placeholder="Search Friends">
      <hr>
      <div style="color:white" ng-repeat="friends in ctrl.friendData | filter:{firstName:ctrl.search}">
        {{friends.firstName}} {{friends.lastName}} 
        <hr>
      </div>
    </div>

    <div ng-show="ctrl.notificationShow">
      <div ng-repeat="notifications in ctrl.notificationData">
        <p style="color:white">{{notifications.firstname}}  {{notifications.lastname}} invited you to play at {{notifications.location.name}} on {{notifications.date | date:longDate}}</p>
        <button class="btn btn-sm btn-primary" ng-click="ctrl.accept(notifications.inviteId)">Accept</button>
        <button class="btn btn-sm btn-danger" ng-click="ctrl.reject(notifications.inviteId)" style="margin-left:10px; background-color:#F28679">Reject</button>
        <hr>
      </div>
    </div>
  </div>
  
</div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxx -->

<button ng-click="CallMe()" id="demo" class="btn btn-primary">Demo</button>
<!-- make each button toggle -->
<div>
  <div class="home-view" ng-show="ctrl.showDefault">
    <div>
      <h2>Hello {{ctrl.userData.firstName}}</h2>

      <h4>You are playing at:</h4>
      <h5 ng-repeat="locations in ctrl.locationData">{{locations.location.name}}</h5>
      <hr>
    </div>

    <div>
      <h3>Events</h3>
      <h5 ng-show="ctrl.eventShow">You have no events yet</h5>
      <h5 ng-repeat="events in ctrl.events">{{events.data.data.location.name}} with {{events.user.firstName}} {{events.user.lastName}} on {{events.event.date | date:longDate}}</h5>
    </div>
  </div>

  <div ng-show="ctrl.showSettings" ng-click="ctrl.settings">
    <h2>
      Settings
    </h2>

    <div class="panel-body">

        <form method="post" action="path/to/api" enctype="multipart/form-data">
          <input type="file" name="file">
          <button type="submit">upload file</button>
        </form>

        <form role="form" ng-submit="ctrl.editUser(ctrl.userId)">
          <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="nameOfLocation" ng-model="ctrl.firstName" required>
          </div>
          <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="Latitude" ng-model="ctrl.lastName" required>
          </div>
          <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="Latitude" ng-model="ctrl.userName" required>
          </div>
          <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="Longitude" ng-model="ctrl.email" required>
          </div>
          <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="Longitude" placeholder="Enter Old Password" ng-model="ctrl.oldPassword" required>
          </div>
          <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="Longitude" placeholder="Enter New Password" ng-model="ctrl.newPassword" required>
          </div>

          <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
