<!-- <section id="auth">
  <div class="login-page center">
    <div id="main-content" class="auth main-content">
      <div class="banner-wrapper registration-header">
        <h3>Sign Up</h3>
      </div>
      <div class="container-fluid">
        <div class="login-wrapper">
          <div class="login-form clearfix">
            <form method="post" class="stacked-form" ng-submit="ctrl.register()">
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="text" name="FirstName" value="" placeholder="First Name" autocomplete="off" autocorrect="off" autocapitalize="on" spellcheck="false" ng-model="ctrl.firstName" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="text" name="LastName" value="" placeholder="Last Name" autocomplete="off" autocorrect="off" autocapitalize="on" spellcheck="false" ng-model="ctrl.lastName" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="text" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Please re-type your password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.passwordRedo" />
                </div>
              </div>
              <input type="submit" value="{{ctrl.signUpBtn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div>
  <form method="post" class="stacked-form" ng-submit="ctrl.register()">
    <section class="content bgcolor-4 auth center">
      <h2 class="center">Register</h2>
        <span class="input input--ruri">
          <input class="input__field input__field--ruri" type="text" name="FirstName" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.firstName" id="input-26" />
            <label class="input__label input__label--ruri" for="input-26">
                <span class="input__label-content input__label-content--ruri">First Name</span>
            </label>
        </span>
        <span class="input input--ruri">
          <input class="input__field input__field--ruri" type="text" name="LastName" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.lastName"  id="input-27" />
            <label class="input__label input__label--ruri" for="input-27">
                <span class="input__label-content input__label-content--ruri">Last Name</span>
            </label>
          </span>
          <span class="input input--ruri">
            <input class="input__field input__field--ruri" type="text" name="Username" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.username"  id="input-28" />
              <label class="input__label input__label--ruri" for="input-28">
                <span class="input__label-content input__label-content--ruri">Username</span>
              </label>
          </span>
          <span class="input input--ruri">
            <input class="input__field input__field--ruri" type="text" name="EmailAddress" value="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.email"  id="input-28" />
              <label class="input__label input__label--ruri" for="input-28">
                <span class="input__label-content input__label-content--ruri">Email</span>
              </label>
          </span>
          <span class="input input--ruri">
            <input class="input__field input__field--ruri" type="password" name="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.password"  id="input-29" />
              <label class="input__label input__label--ruri" for="input-29">
                <span class="input__label-content input__label-content--ruri">Password</span>
              </label>
          </span>
          <span class="input input--ruri">
            <input class="input__field input__field--ruri" type="password" name="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.passwordRedo" id="input-30" />
              <label class="input__label input__label--ruri" for="input-30">
                <span class="input__label-content input__label-content--ruri">Re-Type Password</span>
              </label>
          </span>
          <span class="input input--ruri">
            <input class="input__field input__field--ruri btn btn-primary" type="submit" value="{{ctrl.signUpBtn}}" id="input-31" />
          </span>
    </section>
  </form>
</div>