.container-map { height: 400px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.angular-google-map-container { height: 100vh; }

.friends{
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: #48494A;
  top: 0px;
  right: -300px;
  transition: all 1s ease;
  padding:50px 30px 30px 30px;
}

.find-friends{
  margin-left: 200px;
  margin-right: 200px;
}

input.form-control{
  width:300px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

button.transparent {
  background-color: transparent;
}

nav.transparent {
  background-color: transparent;
  border: 0;
}

div.notification {
  background-color: red;
  border-radius: 50%;
  position: fixed;
  float: right;
  height: 20px;
  width: 20px;
  right: 10px;
  top: 10px;
  z-index: 99999;
}

p.notification {
  color: white;
}

div.container-fluid {
  padding: 0;
}

div.home-view {
  padding-left: 20px;
  padding-right: 20px;
}

.gap-bottom {
  margin-bottom: 20px;
}

.constant {
  font-family: 'Abel', sans-serif;
  background-color: #f0f3f4;
}

.right {
  background-color: #48494A;
  right: 30px;
  top: 20px;
  vertical-align: middle;
  position: absolute;
}

.relative {
  position: relative;
}

.move {
  transform: translateX(-300px);
}

.location-info, .invite-info{
  color:white;
  background-color: #48494A;
}

.friend-button {
  position: fixed;
  height:50px;
  width: 50px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  right:20px;
  top: 20px;
}
#demo{
  position: fixed;
  top:20px;
  right:80px;
}
.google-search {
	width: 200px;
	height: 33px;
	margin-top: 10px;
	border-radius: 5px;
}

.map {
	height:100%;
}
.center {
	text-align: center;
}

div.introjs-tooltip{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.absolute {
  background-color: #48494A;
  color: white;
  position: absolute;
  border-radius: 5px;
  width: 300px;
  min-height: 400px;
  max-height: 800px;
  left:10px;
  top: 60px;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
}
.center {
  text-align: center;
}
.table>thead>tr>th {
  text-align: center;
}
.header-map {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 9999;
  background-color: white;
  text-align: center;
}
.map-home{
  font-family: 'Abel', sans-serif;
}
.brand{
  font-family: 'Abel', sans-serif;
  margin-top: 8px;
}
.fa-futbol-o{
  background-color: white
}
.auth{
  height: 100vh;
}
p .register {
  padding: 0px;
}

/*Date picker*/
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }


/*UNIVERSAL/GLOBAL STYLES MADE BY US*/
/* there is a global _ui.css but that is their original
let's try to edit this one for global in case anything breaks!

NAV BAR STYLINGS INCLUDED
 */

/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);*/

body {
font-family: 'Abel', sans-serif;
font-weight: 400;
}

h1:hover {
 	color: #91adc9;
 	cursor: pointer;
}

ul {

	list-style: none;
}

h1 {
font-weight: 300;
letter-spacing: 2px
}

p {
	margin-bottom: 0;
}

.gap {
	margin-right: 10px;
	margin-top: 10px;
}

p.company {
	margin-bottom: 10px;

}


/*NG FUNCTION COURSERS*/
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/*NAV BAR*/

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.navmain-div {
	float: center;
	width: 80%;
	position: relative;
	left: 10%;
}

.nav-display > li {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: grey;
	box-shadow: none;
}


.login-padding {
	padding-left: 5%;
}

.nav-display {
	display: inline;

	min-width: 10px;
}

.nav-items {
	padding-right:3%;
	cursor: pointer;
}

.nav-items:hover  {
	color: #91adc9;
	width: 140px;
	}

.last-item {
	margin: 0;
	width: 200px;
	margin-right: 30px;
}
.nav-float {
	float: right;
} 

.nav-display.nav-float {
	min-width: 150px;
}
.gap {
	margin-bottom: 50px;
}

#tablefont {
	text-align: center;
}
.table>tbody>tr>td {
	vertical-align: middle;
}
/*FOOTER STYLING*/
.footer-right{
	float:right;
	font-size: 20px;
}

footer {
	margin-top: 2%;
}

.btn.trash {
	background-color: transparent;
}




/* Login Page - blue header with BrainStation logo */
#auth .login-page > .navbar {
  background-color: #2b96ff;
  margin: 0;
  color: black;
  height: 65px;
  line-height: 65px;
  border: 0px solid transparent;
  padding-left: 40px;
  padding-right: 40px;
}
#auth .login-page h3{
  font-size:2rem;
  color:#555;
}


#auth .logo {
    width: 34px;
    display: block;
}

/* Main Content - login form */
#auth .login-page .main-content {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#auth .login-page .registration-header {
  color: white;
  font-size: 34px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

#auth .login-page .btn-primary {
  background-color: #ff6d37;
  outline:none;
}

#auth .login-page .btn-primary:hover {
  background-color: #FF5B1E;
  border-color: #FF5B1E;
}

#auth .login-page .help-links p {
  margin-top: 0;
}

#auth .login-page .help-links a {
  cursor: pointer;
}



@media only screen and (min-width:  768px ) {
  .banner-wrapper.registration-header {
    padding: 40px 0 10px;
    width: 53%;
  }
}



/*.login-form {
  margin: auto;
  width: 400px;
  max-width: 100%;
  padding: 20px 0;
}*/

  /* Button */

.bs-form__button.stacked-input-box {
    margin-bottom: 20px;
}

.bs-form__button.btn-lg {
    height: 47px;
}
.form-input.btn-primary {
    border: 0;
    color: #fff;
}

.bs-form__button {
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}


.form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 15px;
    font-size: 13px;
    font-family: 'Open Sans', "Helvetica", "Arial", sans-serif;
    border: 1px solid #d6d6d6;
    color: #808080;
    border-radius: 2px;
}

.login-shade-text {
    color: #a3a3a3;
    font-size: 13px;
}

.login-shade-text >a{
  color:inherit;
}



a.sign-in-link.small-text {
    font-size: 13px;
}
a.sign-in-link {
    color: #3397FA;
}



